.nav__toggle {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: 0.3s;
}

.scroll-header {
  background-color: var(--bg-color);
  box-shadow: 0 1px 5px hsl(212, 20%, 70%);
}

.nav {
  height: 4rem;
  display: flex;
  align-items: center;
}

.nav__logo,
.footer__logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: '700';
}

.nav__logo span,
.footer__logo span {
  color: var(--first-color);
}

.nav__list {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.nav__link {
  color: var(--text-color);
  font-family: '400';
  font-size: 1.1rem;
  position: relative;
}

.nav__link::after {
  position: absolute;
  content: '';
  bottom: 3px;
  left: -8px;
  width: 3px;
  height: 0;
  background-color: var(--first-color);
  transition: 0.3s;
}

.nav__link:hover::after {
  height: 20px;
}

.nav__cart {
  display: flex;
  cursor: pointer;
  font-size: 1.3rem;
}
